@(loginForm: Form[controllers.Application.Login])
@import helper._
@main("Pixarus-Signin"){
        @form(action = routes.Application.signin()){
            <h1>Sign In</h1>
            @if(loginForm.hasGlobalErrors){
                <p class="error">
                @loginForm.globalError.message
                </p>
            }
            @if(flash.contains("success")){
                <p class="success">
                @flash.get("success")
                </p>
            }
            <p>
                <input type="email" name="email" placeholder="Email" value="@loginForm("email").value">
            </p>
            <p>
                <input type="password" name="password" placeholder="Password" value="@loginForm("password").value">
            </p>
            <p>
                <input type="submit">Login</button>
            </p>
        }
}



