@(form: Form[controllers.Application.Login])
<html>
    <head>
        <title></title>
    </head>
    <body>
        @helper.form(action = routes.Application.signin()){
            <h1>Sign In</h1>
            @if(form.hasGlobalErrors){
                <p class="error">
                @form.globalError.message
                </p>
            }
            @if(flash.contains("success")){
                <p class="success">
                @flash.get("success")
                </p>
            }
            <p>
                <input type="email" name="email" placeholder="Email" value="@form("email").value">
            </p>
            <p>
                <input type="password" name="password" placeholder="Password">
            </p>
            <p>
                <button type="submit">Login</button>
            </p>
        }
    </body>
</html>



